* {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow: hidden;
    background-color: #192A46;
    background-image: url("../public/bg-mobile.jpg");
    background-size: 110% 105%;
    background-repeat: no-repeat;
    background-position: center;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
}

.reset {
    position: absolute;
    bottom: 3vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px 15px;
    border: 0;
    background-color: #fff;
    color: #000;
    border-radius: 15px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.reset:hover {
    background-color: #ddd;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url("../public/bg-desktop.jpg");
        background-size: 108% 100%;
    }
    .app {
        flex-direction: row;
    }
    .reset {
        bottom: 93px;
        padding: 10px 25px;
        font-size: 18px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width: 1520px) {
    body {
        background-image: url("../public/bg-desktop.jpg");
        background-size: 100% 100%;
    }
}